:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

.buttons-top{
    margin-bottom: 20px;
}

#table-container{
    text-align: left;
    font-size: 0.9rem;
}

#file{
    display: none;
}

#import-container{
    display: none;
    margin-top: 10px;
}

#import-file-label, #add-registry-button, #send-mail-button{
    vertical-align: initial;
}

.form-check{
    padding-left: 0;
}

.form-control-file, .form-control-range{
    display: inline-block;
    width: auto;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y));
        padding-bottom: calc(var(--jumbotron-padding-y));
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 1600px;
}

footer {
    padding-top: 0;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

tr:hover{
    cursor: pointer;
}